@import url("https://fonts.googleapis.com/css2?family=Gulzar&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  height: 900px;
}

* {
  font-family: "Gulzar", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#light {
  color: black;
  background-color: white;
}

#dark {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: white;
  background-color: black !important;
}
#dark .switch nav {
  background-color: black !important;
}
#dark .switch nav span,
#dark .switch nav a {
  color: white;
}
#dark .switch footer {
  background-color: black !important;
}
#dark label {
  color: white;
}
#dark .about h3 {
  color: wheat;
}
#dark footer li a {
  color: wheat;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.mx-auto a {
  text-decoration: none;
}
.mx-auto span {
  text-decoration: none !important;
  color: black;
}

.carousell {
  width: 800px;
  height: 500px;
  margin-bottom: 8rem;
}
.carousell .carousel img {
  height: 300px;
}

.nav-item a {
  z-index: 0;
  font-size: 18px;
  color: black;
  color: black;
  text-decoration: none;
  font-size: 14px;
  margin-left: 20px;
}
.nav-item a::after {
  content: "";
  width: 0;
  display: block;
  height: 2px;
  background-color: red;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.nav-item a:hover::after {
  width: 70%;
}

.contain h1 {
  text-align: center;
}
.contain .search {
  margin: 3rem;
}
.contain .movie-lists {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-1,
grid-2 {
  text-align: center;
}

.searchInputs {
  display: flex;
  justify-content: center;
}

.search input {
  border-color: 1px solid black;
  border-radius: 4px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 300px;
  display: flex;
}

.searchIcon {
  height: 60px;
  width: 50px;
  background-color: white;
  text-align: center;
  place-items: center;
}

input:focus {
  outline: none;
}

.searchIcon svg {
  font-size: 35px;
}

.searchResult {
  margin-top: 5px;
  width: 300px;
  height: 200px;
  width: 200px;
  background-color: gray;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: hidden;
}
.searchResult .searchItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.movie-lists .movie {
  height: 100%;
  margin-bottom: 2rem;
}
.movie-lists .movie .col {
  height: 100%;
  margin-bottom: 2rem;
}
.movie-lists .movie .col .flex-col {
  height: 100%;
}
.movie-lists .movie .btn_grp {
  display: flex;
  justify-content: center;
  gap: 4px;
}

footer {
  margin-top: 2rem;
}
footer a {
  text-decoration: none;
}

.img-container {
  position: relative;
  transition: transform 0.2s;
}
.img-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.img-container:hover .overlay {
  opacity: 1;
}
.img-container .overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5 ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.switch {
  display: flex;
}
.switch .switch-btn {
  margin-top: 1.6rem;
  margin-right: 3.2rem;
}

@media screen and (max-width: 576px) {
  .contain {
    margin-top: -300px;
  }
  .contain .movie-lists {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .contain .movie-lists .movie {
    height: 100%;
    width: 100%;
  }
}/*# sourceMappingURL=App.css.map */